<div class="logo-div">
    <div class="logo">
        <img src="assets/logo.png">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate class="login-form">
            <div>
            <div class="s-label">Sign in</div>
            <div class="form-group d-flex">
                <label class="center-block">
                    test@123.com
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">
                    <input type="password" placeholder="Enter Password" class="form-control in-pwd" formControlName="password">
                </label>
            </div>
            <div class="d-flex">
                <span>Forgot password?</span><a href="">Click here</a>
            </div>
        </div>
            <div class="t-end">
                <button class="btn-back" (ngClick)="onBack()">Back</button>
                <button class="btn-green" type="submit">SIGN IN</button>
            </div>
        </form>

    </div>
</div>