.logo-div{
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid #b4bdc9;
    border-radius: 4px !important;
}
.logo{
    text-align: center;
    margin-top: 20px;
    img{
        height: 80px;
        width: 100px;
        border: 2px solid black;
        border-radius: 100%;
    }
}
.login-form{
    height: 200px;
    justify-content: flex-start;
    display: grid;
    text-align: left;
    margin: 0 auto;
    margin-left: 20%;
    margin-top: 50px;
}
.s-label{
    font-size: 20px;
    color: purple;
}
input.ng-invalid{
    border: none;
    border-bottom: 2px solid red;
   
} 
.in-pwd {
    border: none;
    border-bottom: 2px solid gray; 
    width: 300px;
  }
  .btn-green{
    background-color: green;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    width: 100px;
    height: 30px;
  }
  .alert-danger{
    color: red;
  }
  .d-flex{
    display: flex;
  }
  .t-end{
    text-align: end;
  }
  .btn-back{
    background: no-repeat;
    border: none;
    margin-right: 50px;
  }