<div class="m-div">
    <div class="request-header">
        <span>NEW USER</span>
        <div class="ml-auto">
            <button class="add-usr">+NEW USER</button>
            <button class="add-usr">X CANCEL</button>
        </div>
        
    </div>
    <div class="m-div">
        <form [formGroup]="userForm" novalidate >
            <div class="req-form">
            <div class="form-group">
                <label class="center-block">
                    <input class="input-txt" placeholder="First Name" formControlName="searchUsers">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">
                    <input class="input-txt" placeholder="Last Name" formControlName="searchUsers">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">
                    <select class="input-txt">
                        <option value="all">Role</option>
                        <option value="active">Admin</option>
                        <option value="inactive">User</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">
                    <input class="input-txt" placeholder="Email" formControlName="eMail">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">
                    <select class="input-txt">
                        <option value="all">Login Method</option>
                        <option value="role1">Gmail</option>
                    </select>
                </label>
            </div>
            </div>  
           
        </form>
    </div>
    
    </div>